/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
node_modules/
.env
.env.backup
.env.production
.phpunit.result.cache
Thumbs.db
